* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: var(--tertiary-color);
  color: var(--white);
}
/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}



h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Darker Grotesque", sans-serif;
}

/* Variáveis globais */
:root {
  --primary-color: #100c27;
  --secondary-color: #4839a3;
  --tertiary-color: #6c5ae0;
  --quartiary-color: #f2bf4e;
  --quintiary-color: #f4ca6d;
  --sextiary-color: #f8dca0;
  --white: #ffffff;
  --black: #000000;
  --light-gray: #e1e4e8;
  --medium-gray: #D8D9FD;
  --gray-primary: #f1f3f5;
  --gray-secondary: #cfd3d8;
  --gray-tertiary: #97a1ac;
  --gray-quartiary: #636e7c;
  --gray-sextiary: #212429;

  --font-primary: "Nunito Sans", sans-serif;
  --font-secondary: "Darker Grotesque", sans-serif;
}
